{% extends 'base.html' %}
{% load static %}

{% block title %}Профиль {{ user.pk }}{% endblock title %}

{% block nav %}
{#    {% if user_object == user %}#}
{#        <li class="nav-item">#}
{#            <a class="nav-link" href="{% url 'accounts:update_user' %}">Обновить профиль</a>#}
{#        </li>#}
{#        <li class="nav-item">#}
{#            <a class="nav-link" href="{% url 'accounts:change_password' %}">Изменить пароль</a>#}
{#        </li>#}
{#    {% endif %}#}
{% endblock %}

{% block content %}
    <div class="container">
        <h2>Профиль пользователя {{ custom_user.username }}</h2>
    </div>
    <div class="container col-xxl-8 px-4 py-5">
        <p>Имя пользователя: {{ custom_user.username }}</p>
        <p>Имя: {{ custom_user.first_name }}</p>
        <p>Фамилия: {{ custom_user.last_name }}</p>
        <p>Телефон: {{ custom_user.phone_number }}</p>
    </div>
{% endblock content %}

