{% extends 'base.html' %}
{% load static %}

{% block title %}Профиль {{ custom_user.pk }}{% endblock title %}

{% block navbar %}
    {% if request.user == custom_user %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'accounts:user_update' custom_user.pk %}">Обновить профиль</a>
        </li>
    {% endif %}
{% endblock navbar %}

{% block content %}
    <div class="container">
        <h2>Профиль пользователя {{ custom_user.username }}</h2>
    </div>
    <div class="container col-xxl-8 px-4 py-5">
        <p>Имя пользователя: {{ custom_user.username }}</p>
        <p>Имя: {{ custom_user.first_name }}</p>
        <p>Фамилия: {{ custom_user.last_name }}</p>
        <p>Телефон: {{ custom_user.phone_number }}</p>
    </div>
{% endblock content %}

