{% extends 'base.html' %}
{% load static %}

{% block title %}Главная{% endblock %}
{% block navbar %}{% endblock navbar %}

{% block content %}
    <h1 class="text-center text-uppercase fw-bold fst-italic mb-5 mt-3">Список Объявлений</h1>
    {% include 'partials/search.html' %}
    <div class="row row-cols-1 row-cols-md-3 g-4 mb-3">
        {% for adverts in adverts %}
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title fw-bolder">{{ adverts.title }}</h5>
                    <p class="fst-italic"><a href="{% url "adverts:adverts_detail" adverts.pk %}">Подробнее...</a></p>
                </div>
            </div>
        {% endfor %}
    </div>
     {% if is_paginated %}
            {% include 'partials/pagination.html' %}
        {% endif %}
{% endblock content %}
