{% extends 'base.html' %}
{% load static %}

{% block title %}Объявление {{ issuemodel.pk }}{% endblock %}

{% block nav %}
{#    {%  if request.user == adverts.author %}#}
{#    <li class="nav-item">#}
{#        <a class="nav-link active" href="{% url '' adverts.pk %}">Редактировать</a>#}
{#    </li>#}
{#    <li class="nav-item">#}
{#        <a class="nav-link active" href="{% url '' adverts.pk %}">Удалить</a>#}
{#    </li>#}
{#    {% endif %}#}
{% endblock %}
{% block content %}

    <div class="container">
        <h2>{{ adverts.title }}</h2>
        <p>Дата публикации: {{ adverts.public_at|date:"Y-m-d" }}</p>
        <p>
            <u>Категория:</u>
        </p>
    </div>
    <div class="container">
        <p>Описание:</p>
        <p>{{ adverts.description }}</p>
        {% if adverts.price %}
            <p>{{ adverts.price }}</p>
        {% endif %}
        {% if adverts.price %}
            <p>{{ adverts.price }}</p>
        {% endif %}
        <p>{{ adverts.author }}</p>
        <p>{{ adverts.author.user.profile.phone_number }}</p>
    </div>

{% endblock %}